modules = ["nodejs-20"]
run = "npm start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "node server.js"]
build = ["sh", "-c", "npm install"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 36533482
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"
